.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.New{
  background: url(./bg1pink.webp);
  background-size: cover;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body{
  background: url(./bgpink.webp);
}
.btn{
  background-color: green;
  border: 2px solid green;
  border-radius: 5px;
}